<a href="https://colab.research.google.com/github/Akshagajja/Data-science-tutorial/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**merging dataframe with multiple key values**

In [1]:
import pandas as pd
data1 = {
    'key': ['k0', 'k1', 'k2', 'k3'],
    'key1': ['k0', 'k1', 'k0', 'k1'],
    'name': ['jimin', 'jhope', 'jungkook', 'suge'],
    'age': ['25', '27', '28', '24']
}

data2 = {
    'key': ['k0', 'k1', 'k2', 'k3'],
    'key1': ['k0', 'k1', 'k0', 'k1'],
    'address': ['korea', 'uk', 'london', 'maldives'],
    'Qualification': ['btech', 'ms', 'MSc', 'BA']
}

df = pd.DataFrame(data1)
df1 = pd.DataFrame(data2)  # Corrected assignment

print(df, "\n\n", df1)

  key key1      name age
0  k0   k0     jimin  25
1  k1   k1     jhope  27
2  k2   k0  jungkook  28
3  k3   k1      suge  24

   key key1   address Qualification
0  k0   k0     korea         btech
1  k1   k1        uk            ms
2  k2   k0    london           MSc
3  k3   k1  maldives            BA

In [3]:
# Merging the two dataframes on 'key' and 'key1'
res1 = pd.merge(df, df1, on=['key', 'key1'])

print(res1)  # Corrected to res1

  key key1      name age   address Qualification
0  k0   k0     jimin  25     korea         btech
1  k1   k1     jhope  27        uk            ms
2  k2   k0  jungkook  28    london           MSc
3  k3   k1      suge  24  maldives            BA

In [4]:
import pandas as pd

df1 = pd.DataFrame({'name': ['aksha','rosie'], 'email': ['aksha@gmail.com','rosie@gmail.com'], 'city': ['hyderabad','delhi'], 'address': ['2-6-8','4-5-6']})
df2 = pd.DataFrame({'name': ['lisa','jennie'], 'email': ['lisa@gmail.com','jennie@gmail.com'], 'city': ['hyderabad','chennai'], 'address': ['2-6-9','5-6-7']})

result = pd.merge(df1, df2, on='city',how='outer',indicator=True)

print(result)

  name_x          email_x       city address_x  name_y           email_y  \
0  aksha  aksha@gmail.com  hyderabad     2-6-8    lisa    lisa@gmail.com
1  rosie  rosie@gmail.com      delhi     4-5-6     NaN               NaN
2    NaN              NaN    chennai       NaN  jennie  jennie@gmail.com

  address_y      _merge
0     2-6-9        both
1       NaN   left_only
2     5-6-7  right_only

**Another Method for Merging**

In [5]:
import pandas as pd

df1 = pd.DataFrame({'name': ['aksha','rosie'], 'email': ['aksha@gmail.com','rosie@gmail.com'], 'city': ['hyderabad','delhi'], 'address': ['2-6-8','4-5-6']})
df2 = pd.DataFrame({'name': ['lisa','jennie'], 'email': ['lisa@gmail.com','jennie@gmail.com'], 'city': ['hyderabad','chennai'], 'address': ['2-6-9','5-6-7']})

result = pd.merge(df1, df2, on='city',how='outer',indicator=True,suffixes=['_right','_left'])

print(result)

  name_right      email_right       city address_right name_left  \
0      aksha  aksha@gmail.com  hyderabad         2-6-8      lisa
1      rosie  rosie@gmail.com      delhi         4-5-6       NaN
2        NaN              NaN    chennai           NaN    jennie

         email_left address_left      _merge
0    lisa@gmail.com        2-6-9        both
1               NaN          NaN   left_only
2  jennie@gmail.com        5-6-7  right_only